__pycache__
/build/
/dist/
/release/
/raw/
/nime/
/tensei/
/tools/
/*.spec
/src/utils/version_constants.py
/log/
/memo.md
*.egg-info
/proposal/*
/user_properties.json

# Rust
/rust-native/target/
/rust-native/tools/
/rust-native/output/
